        @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(720deg);
        }
        }

        body {
            cursor: url(), default;
        }

        body.cursor-copy {
            cursor: url(), default;
        }

        body.cursor-pointer {
            cursor: url(), default;
        }

        body.cursor-none {
            cursor: none;
        }
